.App {
  text-align: center;
  margin: auto;
  align-content: center;
  grid-template-rows: auto;
} 

.container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(aut0-fit, minmax(15rem, 1fr));
  gap: 3rem;
}

.card-body{
  align-items: center;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  align-items: center;
}

.card-body{
  background-color: aliceblue;
  border-radius: 1rem;
  border : 1px solid black;
  display: auto grid;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  height : 300px;
  box-shadow: 3px 3px 10px 10px (22, 11, 11)
}

.btn{
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 0.5rem;
  overflow: auto;
  color: wheat;
  font-size: larger;
  font-weight: bolder;
  width: 1200px;
  margin: 0 auto;
  height : 1000px;
}

.btn-primary .btn{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }